<div class="page-header">
  <h1><%= Swattr.t(:settings) %></h1>
</div>

<%= image_tag(@settings.logo.thumb.url) %>

<p>
  <strong><%= Swattr.t(:title) %>:</strong>
  <%= @settings.title %>
</p>

<p>
  <strong><%= Swattr.t(:per_page) %>:</strong>
  <%= @settings.per_page %>
</p>

<% if policy(@settings).edit? %>
  <%= link_to Swattr.t(:edit), edit_settings_path %>
<% end %>
