<div id="issue_attachments" class="row">
  <h2><%= Swattr.t(:attachments) %></h2>

  <% if @issue.attachments.any? %>
  <div class="col-sm-6 col-md-4">
  <% @issue.attachments.each do |attachment| %>
    <div class="thumbnail attachment attachment-<%= attachment.id %>">
      <%= image_tag(attachment.source.thumb.type_url) %>

      <div class="caption">
        <p>(<%= filesize_format(attachment.file_size) %>)</p>

        <h3><%= attachment.title %></h3>

        <p><%= attachment.description %></p>

        <p>
          <%= link_to Swattr.t(:view), attachment.source.url, class: "btn btn-default", role: "button" %>
          <%= link_to Swattr.t(:destroy), project_issue_attachment_path(@project, @issue, attachment), method: :delete, class: "btn btn-danger", role: "button", data: { confirm: Swattr.t(:are_you_sure) } %>
        </p>

      </div>
  <% end %>
  </div>
<% else %>
  <p class="no-attachments">
    <%= Swattr.t(:no_attachments) %>
  </p>
<% end %>
</div>
