<div id="issue_attachments">
  <h2><%= Swattr.t(:attachments) %></h2>

  <% if @issue.attachments.any? %>
  <ul class="issue_attachments">
  <% @issue.attachments.each do |attachment| %>
    <li class="attachment attachment-<%= attachment.id %>">
      <p class="title">
        <%= attachment.title %>
      </p>

      <p class="description">
        <%= attachment.description %>
      </p>

      <p class="image">
        <%= image_tag(attachment.source.thumb.type_url) %>
      </p>

      <p class="attachment">
        <%= link_to(Swattr.t(:view), attachment.source.url) %>
        (<%= filesize_format(attachment.file_size) %>)
      </p>

      <div class="footer">
        <%= attachment.uploader.email %>
      </div>

      <div class="remove">
        <%= link_to Swattr.t(:destroy), project_issue_attachment_path(@project, @issue, attachment), method: :delete, data: { confirm: Swattr.t(:are_you_sure) } %>
      </div>
    </li>
  <% end %>
  </ul>
  <% else %>
  <p class="no-attachments">
    <%= Swattr.t(:no_attachments) %>
  </p>
  <% end %>
</div>
