<div class="page-header">
  <h1><%= Swattr.t(:list_issues) %></h1>
</div>

<%= render "search" %>

<div class="table-responsive">
  <table class="table-striped">
    <thead>
      <tr>
        <th><%= Swattr.t(:title) %></th>
        <th><%= Swattr.t(:content) %></th>
        <th><%= Swattr.t(:project) %></th>
        <th><%= Swattr.t(:author) %></th>
        <th><%= Swattr.t(:assignee) %></th>
        <th><%= Swattr.t(:priority) %></th>
        <th><%= Swattr.t(:status) %></th>
        <th><%= Swattr.t(:resolution) %></th>
        <th><%= Swattr.t(:due_at) %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= render @issues %>
    </tbody>
  </table>
</div>

<%= paginate @issues %>

<% if policy(@issues).new? %>
  <%= link_to Swattr.t(:new_issue), new_project_issue_path(@project) %>
<% end %>
