<%= render "tags" %>

<p>
  <strong><%= Swattr.t(:title) %>:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong><%= Swattr.t(:content) %>:</strong>
  <%= @issue.content %>
</p>

<p>
  <strong><%= Swattr.t(:project) %>:</strong>
  <%= @issue.project.name %>
</p>

<p>
  <strong><%= Swattr.t(:author) %>:</strong>
  <%= @issue.author.name %>
</p>

<p>
  <strong><%= Swattr.t(:assignee) %>:</strong>
  <%= @issue.assignee_id %>
</p>

<p>
  <strong><%= Swattr.t(:priority) %>:</strong>
  <%= @issue.priority_id %>
</p>

<p>
  <strong><%= Swattr.t(:status) %>:</strong>
  <%= @issue.status_id %>
</p>

<p>
  <strong><%= Swattr.t(:resolution) %>:</strong>
  <%= @issue.resolution_id %>
</p>

<p>
  <strong><%= Swattr.t(:due_at) %>:</strong>
  <%= @issue.due_at %>
</p>

<%= render "tasks" %>

<%= render "tasks_form" %>

<%= link_to Swattr.t(:edit), edit_project_issue_path(@project, @issue) %> |
<%= link_to Swattr.t(:back), project_issues_path(@project) %>
