<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @issue.content %>
</p>

<p>
  <strong>Project:</strong>
  <%= @issue.project.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @issue.author.name %>
</p>

<p>
  <strong>Assignee:</strong>
  <%= @issue.assignee.name %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @issue.priority_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue.status_id %>
</p>

<p>
  <strong>Resolution:</strong>
  <%= @issue.resolution_id %>
</p>

<p>
  <strong>Due At:</strong>
  <%= @issue.due_at %>
</p>

<%= link_to Swattr.t("actions.edit"), edit_project_issue_path(@project, @issue) %> |
<%= link_to Swattr.t("actions.back"), project_issues_path(@project) %>
