<p>
  <strong>Name:</strong>
  <%= @priority.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @priority.description %>
</p>

<p>
  <strong>Position:</strong>
  <%= @priority.position %>
</p>

<%= link_to Swattr.t("actions.edit"), edit_priority_path(@priority) %> |
<%= link_to Swattr.t("actions.back"), priorities_path %>
