<div class="page-header">
  <h1><%= Swattr.t(:priority) %></h1>
</div>

<p>
  <strong><%= Swattr.t(:name) %>:</strong>
  <%= @priority.name %>
</p>

<p>
  <strong><%= Swattr.t(:description) %>:</strong>
  <%= @priority.description %>
</p>

<% if policy(@priority).edit? %>
  <%= link_to Swattr.t(:edit), edit_priority_path(@priority) %> |
<% end %>
<%= link_to Swattr.t(:back), priorities_path %>
