<%= simple_form_for(@profile,
                    wrapper: :vertical_form,
                    html: { class: "form-vertical" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email, as: :email %>
    <%= f.input :password, as: :password %>
    <%= f.input :password_confirmation, as: :password %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
