<div class="page-header">
  <h1><%= Swattr.t(:profile) %></h1>
</div>

<%= image_tag(@profile.avatar.thumb.url) %>

<p>
  <strong><%= Swattr.t(:name) %>:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong><%= Swattr.t(:email) %>:</strong>
  <%= @profile.email %>
</p>

<%= link_to Swattr.t(:edit), edit_profile_path %>
