<tr>
  <td><%= resolution.name %></td>
  <td><%= resolution.description %></td>
  <td>
    <% if policy(resolution).show? %>
      <%= link_to Swattr.t(:show), resolution %>
    <% end %>
    <% if policy(resolution).edit? %>
      <%= link_to Swattr.t(:edit), edit_resolution_path(resolution) %>
    <% end %>
    <% if policy(resolution).destroy? %>
      <%= link_to Swattr.t(:destroy), resolution, method: :delete, data: { confirm: Swattr.t(:are_you_sure) } %>
    <% end %>
  </td>
</tr>
