<p>
  <strong>Name:</strong>
  <%= @resolution.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resolution.description %>
</p>

<p>
  <strong>Position:</strong>
  <%= @resolution.position %>
</p>

<%= link_to Swattr.t("actions.edit"), edit_resolution_path(@resolution) %> |
<%= link_to Swattr.t("actions.back"), resolutions_path %>
