<p>
  <strong><%= Swattr.t(:name) %>:</strong>
  <%= @resolution.name %>
</p>

<p>
  <strong><%= Swattr.t(:description) %>:</strong>
  <%= @resolution.description %>
</p>

<%= link_to Swattr.t(:edit), edit_resolution_path(@resolution) %> |
<%= link_to Swattr.t(:back), resolutions_path %>
