<tr>
  <td><%= image_tag(user.avatar.thumb.url) %></td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td>
    <% if policy(user).show? %>
      <%= link_to Swattr.t(:show), user %>
    <% end %>
    <% if policy(user).edit? %>
      <%= link_to Swattr.t(:edit), edit_user_path(user) %>
    <% end %>
    <% if policy(user).destroy? %>
      <%= link_to Swattr.t(:destroy), user, method: :delete, data: { confirm: Swattr.t(:are_you_sure) } %>
    <% end %>
  </td>
</tr>
