<h1><%= Swattr.t(:list_users) %></h1>

<%= render "search" %>

<table>
  <thead>
    <tr>
      <th><%= Swattr.t(:avatar) %></th>
      <th><%= Swattr.t(:name) %></th>
      <th><%= Swattr.t(:email) %></th>
      <th><%= Swattr.t(:role) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @users %>
  </tbody>
</table>

<%= paginate @users %>

<% if policy(@users).new? %>
  <%= link_to Swattr.t(:new_user), new_user_path %>
<% end %>
