<div class="page-header">
  <h1><%= Swattr.t(:list_users) %></h1>
</div>

<%= render "search" %>

<div class="table-responsive">
  <table class="table-striped">
    <thead>
      <tr>
        <th><%= Swattr.t(:avatar) %></th>
        <th><%= Swattr.t(:name) %></th>
        <th><%= Swattr.t(:email) %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</div>

<%= paginate @users %>

<% if policy(@users).new? %>
  <%= link_to Swattr.t(:new_user), new_user_path %>
<% end %>
