<div class="page-header">
  <h1><%= Swattr.t(:user) %></h1>
</div>

<%= image_tag(@user.avatar.thumb.url) %>

<p>
  <strong><%= Swattr.t(:name) %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= Swattr.t(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= Swattr.t(:role) %>:</strong>
  <%= @user.role %>
</p>

<% if policy(@user).edit? %>
  <%= link_to Swattr.t(:edit), edit_user_path(@user) %> |
<% end %>
<%= link_to Swattr.t(:back), users_path %>
