<%= image_tag(@user.avatar.thumb.url) %>

<p>
  <strong><%= Swattr.t(:name) %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= Swattr.t(:email) %>:</strong>
  <%= @user.email %>
</p>

<%= link_to Swattr.t(:edit), edit_user_path(@user) %> |
<%= link_to Swattr.t(:back), users_path %>
