<h1><%= Swattr.t(:list_statuses) %></h1>

<table>
  <thead>
    <tr>
      <th><%= Swattr.t(:name) %></th>
      <th><%= Swattr.t(:description) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @statuses %>
  </tbody>
</table>

<br>

<%= link_to Swattr.t(:new_status), new_status_path %>
