<p>
  <strong><%= Swattr.t(:name) %>:</strong>
  <%= @status.name %>
</p>

<p>
  <strong><%= Swattr.t(:description) %>:</strong>
  <%= @status.description %>
</p>

<% if policy(@status).edit? %>
  <%= link_to Swattr.t(:edit), edit_status_path(@status) %> |
<% end %>
<%= link_to Swattr.t(:back), statuses_path %>
