<p>
  <strong><%= Swattr.t(:name) %>:</strong>
  <%= @status.name %>
</p>

<p>
  <strong><%= Swattr.t(:description) %>:</strong>
  <%= @status.description %>
</p>

<%= link_to Swattr.t(:edit), edit_status_path(@status) %> |
<%= link_to Swattr.t(:back), statuses_path %>
