<p>
  <strong>Name:</strong>
  <%= @status.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @status.description %>
</p>

<p>
  <strong>Position:</strong>
  <%= @status.position %>
</p>

<%= link_to Swattr.t("actions.edit"), edit_status_path(@status) %> |
<%= link_to Swattr.t("actions.back"), statuses_path %>
