<%= simple_form_for(@task,
                    wrapper: :vertical_form,
                    html: { class: "form-vertical" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.association :issue, as: :select %>
    <%= f.association :author, as: :select %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
