<tr>
  <td><%= task.title %></td>
  <td><%= task.issue_id %></td>
  <td><%= task.author_id %></td>
  <td><%= link_to Swattr.t(:show), task %></td>
  <td><%= link_to Swattr.t(:edit), edit_task_path(task) %></td>
  <td><%= link_to Swattr.t(:destroy), task, method: :delete, data: { confirm: Swattr.t(:are_you_sure) } %></td>
</tr>
