<p>
  <strong><%= Swattr.t(:title) %>:</strong>
  <%= @task.title %>
</p>

<p>
  <strong><%= Swattr.t(:issue) %>:</strong>
  <%= @task.issue_id %>
</p>

<p>
  <strong><%= Swattr.t(:author) %>:</strong>
  <%= @task.author_id %>
</p>

<%= link_to Swattr.t(:edit), edit_task_path(@task) %> |
<%= link_to Swattr.t(:back), tasks_path %>
