<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Issue:</strong>
  <%= @task.issue_id %>
</p>

<p>
  <strong>Author:</strong>
  <%= @task.author_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @task.position %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
