<ul class="nav navbar-nav">
  <ul>
    <li>
      <%= link_to(Swattr.t(:dashboard), root_path) %>
    </li>
    <li>
      <%= link_to(Swattr.t(:projects), projects_path) %>
    </li>
    <li>
      <%= link_to(Swattr.t(:priorities), priorities_path) %>
    </li>
    <li>
      <%= link_to(Swattr.t(:tags), tags_path) %>
    </li>
    <li>
      <%= link_to(Swattr.t(:resolutions), resolutions_path) %>
    </li>
    <li>
      <%= link_to(Swattr.t(:statuses), statuses_path) %>
    </li>
    <li>
      <%= link_to(Swattr.t(:users), users_path) %>
    </li>
    <li>
      <%= link_to(Swattr.t(:settings), settings_path) %>
    </li>
    <li>
      <%= link_to(Swattr.t(:profile), profile_path) %>
    </li>
    <li>
      <%= link_to(Swattr.t(:logout), destroy_user_session_path, method: :delete) %>
    </li>
  </ul>
</nav>
