<tr>
  <td><%= tag.name %></td>
  <td><%= tag.description %></td>
  <td><%= tag.color %></td>
  <td><%= link_to Swattr.t(:show), tag %></td>
  <td><%= link_to Swattr.t(:edit), edit_tag_path(tag) %></td>
  <td><%= link_to Swattr.t(:destroy), tag, method: :delete, data: { confirm: Swattr.t(:are_you_sure) } %></td>
</tr>
