<tr>
  <td><%= tag.name %></td>
  <td><%= tag.slug %></td>
  <td><%= tag.description %></td>
  <td><%= tag.color %></td>
  <td>
    <% if policy(tag).show? %>
      <%= link_to Swattr.t(:show), tag %>
    <% end %>
    <% if policy(tag).edit? %>
      <%= link_to Swattr.t(:edit), edit_tag_path(tag) %>
    <% end %>
    <% if policy(tag).destroy? %>
      <%= link_to Swattr.t(:destroy), tag, method: :delete, data: { confirm: Swattr.t(:are_you_sure) } %>
    <% end %>
  </td>
</tr>
