<h1><%= Swattr.t(:list_tags) %></h1>

<table>
  <thead>
    <tr>
      <th><%= Swattr.t(:name) %></th>
      <th><%= Swattr.t(:description) %></th>
      <th><%= Swattr.t(:color) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tags %>
  </tbody>
</table>

<br>

<% if policy(@tags).new? %>
  <%= link_to Swattr.t(:new_tag), new_tag_path %>
<% end %>
