<div class="page-header">
  <h1><%= Swattr.t(:tag) %></h1>
</div>

<p>
  <strong><%= Swattr.t(:name) %>:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong><%= Swattr.t(:description) %>:</strong>
  <%= @tag.description %>
</p>

<p>
  <strong><%= Swattr.t(:color) %>:</strong>
  <%= @tag.color %>
</p>

<% if policy(@tag).edit? %>
  <%= link_to Swattr.t(:edit), edit_tag_path(@tag) %> |
<% end %>
<%= link_to Swattr.t(:back), tags_path %>
