<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tag.description %>
</p>

<p>
  <strong>Color:</strong>
  <%= @tag.color %>
</p>

<p>
  <strong>Position:</strong>
  <%= @tag.position %>
</p>

<%= link_to Swattr.t("actions.edit"), edit_tag_path(@tag) %> |
<%= link_to Swattr.t("actions.back"), tags_path %>
