<tr>
  <td><%= image_tag(project.hero.thumb.url) %></td>
  <td><%= project.name %></td>
  <td><%= project.slug %></td>
  <td><%= project.description %></td>
  <td><%= project.location %></td>
  <td><%= project.author_id %></td>
  <td><%= link_to Swattr.t(:show), project %></td>
  <td><%= link_to Swattr.t(:edit), edit_project_path(project) %></td>
  <td><%= link_to Swattr.t(:destroy), project, method: :delete, data: { confirm: Swattr.t(:are_you_sure) } %></td>
  <td><%= link_to Swattr.t(:issues), project_issues_path(project) %></td>
</tr>
