<h1><%= Swattr.t(:list_projects) %></h1>

<%= render "search" %>

<table>
  <thead>
    <tr>
      <th><%= Swattr.t(:name) %></th>
      <th><%= Swattr.t(:slug) %></th>
      <th><%= Swattr.t(:description) %></th>
      <th><%= Swattr.t(:location) %></th>
      <th><%= Swattr.t(:author) %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @projects %>
  </tbody>
</table>

<%= paginate @projects %>

<%= link_to Swattr.t(:new_project), new_project_path %>
