<p>
  <strong><%= Swattr.t(:name) %>:</strong>
  <%= @project.name %>
</p>

<p>
  <strong><%= Swattr.t(:slug) %>:</strong>
  <%= @project.slug %>
</p>

<p>
  <strong><%= Swattr.t(:description) %>:</strong>
  <%= @project.description %>
</p>

<p>
  <strong><%= Swattr.t(:location) %>:</strong>
  <%= @project.location %>
</p>

<p>
  <strong><%= Swattr.t(:author) %>:</strong>
  <%= @project.author_id %>
</p>

<%= link_to Swattr.t(:edit), edit_project_path(@project) %> |
<%= link_to Swattr.t(:back), projects_path %>
