<!DOCTYPE html>
<html>
<head>
  <title><%= Swattr.t(:swattr) %></title>
  <%= stylesheet_link_tag "swattr/application", media: "all" %>
  <%= javascript_include_tag "swattr/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to(image_tag(settings.logo.thumb.url), root_path) %>

<%= render "swattr/shared/navigation" %>

<%= render "swattr/shared/flash_messages" %>

<%= yield %>

</body>
</html>
