<!DOCTYPE html>
<html>
<head>
  <title>Swattr</title>
  <%= stylesheet_link_tag "swattr/application", media: "all" %>
  <%= javascript_include_tag "swattr/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "swattr/shared/navigation" %>

<%= render "swattr/shared/flash_messages" %>

<%= yield %>

</body>
</html>
