<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= Swattr.t(:swattr) %></title>

  <%= stylesheet_link_tag "swattr/application", media: "all" %>
  <%= javascript_include_tag "swattr/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <%= link_to(image_tag(settings.logo.thumb.url), root_path, class: "navbar-brand") %>
      </div>

      <div id="navbar" class="collapse navbar-collapse">
        <%= render "swattr/shared/flash_messages" %>

        <%= render "swattr/shared/navigation" %>
      </div>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
